.form-container {
  border-radius: 5px;
  background-color: #e2d4b7;
  /*  padding: 20px; */
  width: 100%;
  margin: none;
  text-align: center;
}

.form-title {
  color: #701b1b;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.contact-form input {
  float: left;
  width: 50%;
  height: 20px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 6px;
  border: none;
  border-width: 0px;
}

.contact-form button {
  background-color: #701b1b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 50px;
}

.contact-form button:hover {
  background-color: #701b1b;
  opacity: 0.5;
}

.form-container .description {
  margin: 50px;
  text-align: center;
}
