.navbar-container {
  display: flex;
  justify-content: center;
  font-size: 140%;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  font-family: "Goldman", cursive;
}

.main-nav {
  list-style: none;
  float: right;
  margin-left: 400px;
  text-align: right;
}

.main-nav li {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  text-transform: uppercase;
}

.main-nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.logo {
  height: 50px;
  float: left;
  fill: rgb(255, 255, 255);
}

.companyName:hover {
  text-decoration: underline;
}

.search:hover {
  text-decoration: underline;
}

.contact:hover {
  text-decoration: underline;
}

/* ########
################
########################
################################
########################################
################################################
########################################
################################
########################
################
######## */

@media screen and (max-width: 2200px) {
  .main-nav {
    margin-left: 400px;
  }
}
@media screen and (max-width: 1440px) {
  .main-nav {
    margin-left: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .main-nav {
    margin-left: 100px;
  }
}
@media screen and (max-width: 768px) {
  .main-nav {
    margin-left: 50px;
  }
}
@media screen and (max-width: 425px) {
  .main-nav {
    margin-left: 10px;
  }
  .main-nav li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-container {
    font-size: 100%;
  }
}
